pytest
fastapi
uvicorn
pydantic
python-dotenv
sqlalchemy
psycopg[binary]
alembic
python-multipart
pdfplumber

langchain
langchain-community
langchain-openai
langchain-text-splitters
weaviate-client
openai
tiktoken